# Database Credentials
POSTGRES_USER=admin
POSTGRES_PASSWORD=my_super_secret_password
POSTGRES_DB=db_name

# Connection String for the API
# Note: 'db' is the name of the service in docker-compose
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}