# Secrets
.env
*.txt

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Docker
.docker/

# IDEs
.vscode/
.idea/

# Project Specific
postgres_data/

#Agent
agent.md
*feature*.md
refractoring*.md
future*.md
agent_data/
.antigravityignore
*liveness*.md
LivenessDetection.md
GEMINI.md
.agents/

.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Специфични за Flutter скриптове и конфигурации на локалната машина
.flutter-plugins
.flutter-plugins-dependencies
.plugin_symlinks
metadata

android/.gradle/
android/local.properties
android/captures/
android/app/components/
# Изключваме генерираните инсталационни файлове (APK, AAB)
*.apk
*.ap_
*.aab

#ESP32 Firmware, until final version is release have decided to ignore it
*.ino

#Seeding Sheets
*csv
*xlsx

#Python Scirpts (Internal helpers)
extract_group.py
activate_students.py