# --- Основни за FastAPI Бекенда & Сигурност ---
fastapi
uvicorn
pydantic[email]
python-multipart
python-dotenv
httpx
bcrypt
pyjwt
requests

# --- Административен панел, Шаблони & Excel Анализ ---
jinja2
pandas
openpyxl

# --- База данни & Векторен ORM ---
sqlalchemy
psycopg2-binary
pgvector

# --- Изкуствен Интелект & Компютърно Зрение ---
face_recognition
numpy
opencv-python-headless
pyzbar
--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple
torch
torchvision

# S3/MinIO облачна архитектура
boto3

# --- Тестване & Качество на кода ---
pytest